.footer {
    background-color: $color-black-3;
    grid-column: 1 / -1;
    grid-row: 7 / 8;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);

    justify-items: center;
    align-items: center;

    &__pageselect {
        grid-column: 1 / -1;
        grid-row: 1 / 1;

        &--list {
            display: flex;
            list-style: none;
            font-size: $text-1;
            color: $color-white;
        }

        &--item {
            padding: 0 3rem;
            padding-bottom: 1px;
            text-decoration: none;
            color: $color-white-2;
            transition: all .1s;

            &:hover {
                color: $color-oppisite;
                transform: scale(1.2);
                cursor: pointer;
                padding-bottom: 0;
                border-bottom: 1px solid $color-oppisite;
            }
        }

        &--link {
            text-decoration: none;
            color: white;
        }
    }

    &__copyright {
        grid-column: 1 / -1;
        grid-row: 2 / 2;
        padding-bottom: 3rem;

        &--text {
            font-size: $text-1;
            color: $color-white;
        }
    }
}