.landing {
    grid-row: 2 / 3;
    grid-column: 1 / -1;
    padding-top: 8rem;
    color: $color-black-3;
    margin-bottom: 50rem;
    z-index: -1000;

    background-image: url('../../../media/sunset2.jpg');
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: grid; 
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(4, 20vh);

    &__welcome {
      grid-row: 1 / -1;
      grid-column: 1 / 4;
      display: grid;
      grid-template-columns: repeat(4, minmax(max-content, 1fr));
      grid-template-rows: repeat(4, 12rem) 5rem;
      z-index: 1000;
      color: rgb(243, 243, 231);
      transform: translateY(-3rem);
      font-family: 'Merriweather', serif;

        &--hi {
          grid-column: 1 / -1;
          grid-row: 2 / 5;
          padding-left: 5rem;
          font-size: 35rem;
          line-height: 0;
          padding-bottom: 3rem;
          font-weight: 400;
          justify-self: center;
          align-self: center;
          position: relative;

          &-background1 {
            position: absolute;
            height: 50rem;
            width: 50rem;
            background-color: rgb(212, 88, 30);
            background-image: linear-gradient(to right bottom,
            rgb(212, 88, 30),
            rgb(66, 45, 21));
            border-radius: 50%;
            z-index: -10;
            transform: translate(-3.5rem, -23.5rem);
            opacity: .6;
            
            animation-name: back1;
            animation-duration: 1.8s;
            animation-timing-function: ease-out cubic-bezier(.47,.23,.12,1);
          }

          &-background2 {
            position: absolute;
            height: 50rem;
            width: 50rem;
            border: 3px dashed rgb(233, 243, 243);
            border-radius: 50%;
            z-index: -10;
            transform: scale(1.07) translate(-3.3rem, -22rem);

            animation-name: back2;
            animation-duration: 2s;
          }

          &-h {
            z-index: 100;
          }

          &-i {
            position: absolute;
            z-index: 100;
            

            animation-name: moveI;
            animation-duration: 2.2s;
            animation-timing-function: ease-out;
          }
        }

        &--name {
          grid-column: 1 / -1;
          grid-row: 5 / 6;
          line-height: 1;
          font-size: 6rem;
          display: flex;
          justify-content: flex-end;
          // color: rgb(228, 238, 238);
          transform: translateX(4rem);
          // position: absolute;

          animation-name: nameMove;
          animation-duration: 1.6s;
          animation-timing-function: ease-out;
        } 
    }
}