.projects {
    // background-image: linear-gradient(rgba(rgb(168, 143, 96), .2), rgba(rgb(80, 104, 136), .2)), url('../../../media/pattern1.png');
    background-color: $color-black-1;
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: 1 / -1;
    grid-row: 5 / 6;

    display: grid;
    grid-template-columns: repeat(3, minmax(min-content, 1fr));
    grid-template-rows: min-content max-content  max-content;
    grid-gap: 6rem;
    padding: 5rem;
    justify-items: center;

    &__head {
        grid-column: 1 / -1;
        font-size: $header-1-2;
        margin: 0 0 10rem 0;
        border-bottom: 1px solid $color-oppisite;
        align-self: center;
        font-family: $font-main;
        color: $font-color-1;
    }

    &__btn {
        grid-column: 2 / 2;
        grid-row: 3 / 3;
    }
}