.skills {
    
    background-color: rgba($color-black-2, 1); // FOR DARK MODE
    color: $color-white-3; // FOR DARK MODE

    grid-column: 1 / -1;
    grid-row: 3 / 4;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min-content, 30rem));
    grid-template-rows: min-content;
    grid-gap: 4.5rem;
    padding: 1rem 3rem 3rem 3rem;
    justify-content: center;

    &__item {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        transition: all .3s;
        border-radius: 3px;

        &:hover {
            box-shadow: 0 .5rem 1rem rgba(black, .15);
            transform: scale(1.05);
            background-color: rgba($color-black-3, 1); // FOR DARK MODE
        }

        &:hover > * {
            opacity: 1;
            transform: translateY(0);
        }
    }

    &__title {
        display:  flex;
        grid-column: 1 / -1;
        grid-row: 1;
        padding-top: 2rem;
        font-family: $font-main;
    }

    &__head {
        font-size: $header-3;
        padding-left: 1.5rem;
    }

    &__text {
        font-size: $text-1;
        grid-column: 1 / -1;
        grid-row: 2; 
        padding: 2rem;
        font-family: 'Merriweather', serif;
    }

    &__icon {
        height: 3rem;
        width: 3rem;
        color: $color-oppisite;
        // color: $color-3;
    }

    &__btn {
        margin: 1rem;
        opacity: 0;
        transition: all .3s;
        transform: translateY(2rem);
    }
}