
// primary colors
$color-black-0: black;
// $color-black-1: rgb(24, 24, 24);
// $color-black-2: rgb(32, 32, 32);
// $color-black-3: rgb(41, 41, 41);

$color-black-1: rgb(202, 221, 243);
$color-black-2: rgb(48, 66, 87);
$color-black-3: rgb(30, 47, 66);

// $font-color-1: rgb(56, 56, 56);
$font-color-1: rgb(44, 44, 44);

$color-white: rgb(255, 255, 255);
$color-white-2: rgb(250, 250, 250);
$color-white-3: rgb(212, 236, 241);

$color-grey-1: rgb(145, 144, 144);
$color-grey-2: rgb(121, 121, 121);

$color-1: #535B5C;
$color-1-light: #748081;

$color-2: #084F52;
$color-2-dark:#136a6d;
$color-2-light:#24888b;

$color-3: #10999E;
$color-3-light: #10999E;

$color-4: #15CBD1;
$color-4-light: #15CBD1;

$color-5: #96D7D9;
$color-5-light: #abe8eb;

$color-oppisite: #d47643;




